{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block body %}
<table>
  <!-- this should show the student opportunity bulletin -->
</table>

<a href="/adminHome" class="btn btn-primary" role="button">Go Back</a>

<!-- form to add new opportunity -->
<h4>Add New Opportunity</h4>
<form action="/addOpAuth" method="POST">
  <label for="name"><strong>Name</strong><span style="color:red"> *Required</span></label>
  <input type="text" name="name" placeholder="Program Name or Position" required>
  <br>
  <label for="ints"><strong>Opportunity Tags</strong> (Ctrl+Click to select multiple)<span style="color:red"> *Required</span></label>
  <br>
  <select name="ints" multiple required>
    <option value="events">General</option>
    <option value="academic">Academic</option>
    <option value="business">Business & Jobs</option>
    <option value="community_service">Community Service</option>
    <option value="leadership">Leadership, Government, Law, Advocacy, International</option>
    <option value="museums">Museums and Art</option>
    <option value="nature">Parks, Zoos, Nature</option>
    <option value="stem">STEM Opportunities</option>
    <option value="humanities">Theater, Writing, Performing Arts, Video</option>
    <option value="scholarships">Scholarships</option>
  </select>
  <br>
  <label for="des"><strong>Description</strong><span style="color:red"> *Required</span></label>
  <br>
  <textarea type="text" name="des" placeholder="Describe the opportunity..." rows="5" cols="75" required></textarea>
  <br>
  <label for="link"><strong>Link</strong></label>
  <input type="text" name="link" placeholder="Program website">
  <br>
  <label for="cost"><strong>Cost</strong></label>
  <input type="number" name="cost" placeholder="$">
  <br>
  <label for="grades"><strong>Grades Eligible (Ctrl+Enter to select multiple)</strong><span style="color:red"> *Required</span></label>
  <br>
  <select name="grades" multiple required>Grades Eligible
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
  </select>
  <br>
  <label for="location"><strong>Location</strong></label>
  <input name="location" placeholder="Address or Name">
  <br>
  <label for="duedate"><strong>Application/Registration Duedate</label>
  <input name="duedate" type="date" required>
  <br>
  <label for="start_date">Program Start Date</label>
  <input name="start_date" type="date" required>
  <br>
  <label for="end_date">Program End Date</label>
  <input name="end_date" type="date" required>
  <br>
  <label for="notes">Other Notes</label>
  <input name="notes" type="test">
  <br>
  <br>
  <input type="submit" name="create-op-button" value="Create Opportunity">
</form>

{% endblock %}
