{% extends "base.html" %}

{% block navbar_stu %} {% endblock %}
{% block navbar_logout %} {% endblock %}

{% block title %} Add Event {% endblock %}

{% block body %}
	
	<form action = '/adminEvent'>
		Event: <br>
		<input type = "text" name = "input"> <br>
		
		Start Date (yyyy-mm-dd): <br>
		<input type = "text" name = "startDate"> <br>
		
		Start Time (Military Time hh:mm:ss): <br>
		<input type = "text" name = "startTime"> <br>
		
		End Date (yyyy-mm-dd): <br>
		<input type = "text" name = "endDate"> <br>
		
		End Time (Military Time hh:mm:ss): <br>
		<input type = "text" name = "endTime"> <br><br>
		
		<input type = "submit" value = "Submit">
	</form>
	
	<h1> Getting the upcoming 10 events </h1>
	<ol id = "stuEvents">
	{% for event in stuEvents %}
	<li> {{event['start'].get('dateTime', event['start'].get('date'))|e}} 
	{{event['summary']|e}}</li>
	{% endfor %}
	</ol>
	<button id="events">Submit Here</button>
	<script 
	var addEvent = function(e) {
		console.log(e);
		var list = document.getElementById("stuEvents");
		var item = document.createElement("li");
		item.innerHTML = "???";
		list.append(item);
	}
	var events = document.getElementById("events");
	events.addEventListener("click", addEvent);
	</script>
{% endblock %}
