<!DOCTYPE html>
<html>

  <head>
    <title> {% block title %} Student Opportunity Board {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% block header %} {% endblock %}
  </head>
  <!-- <header>
       </header> -->
  <body style = "background-color: #FFA781; color: #5B0E2D; text-align:center;">
    {% block navbar_logged_out %}
    <div style="background-color:#ff8c00; padding:3px;">
      <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" >
        <a class="nav-link" href="/">
          Student Opportunities Bulletin
        </a>
        <ul class="navbar-nav flex-row ml-md-auto">
          <li class="nav-item">
            <a class="nav-link" href="/studentAccount">Register as Student</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adminAccount">Register as Admin</a>
          </li>
        </ul>
        <a class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="/login">Login</a>
      </header>
    </div>
    <br>
      {% endblock %}
    {% block body %} {% endblock %}
  </body>
  <footer>
    {% block footer %}
    <footer class="footer"> 
        <div class="container">
            Copyright 2019 Team HumanJello -- Sophie Nichol, Lauren Pehlivanian, Jason Zheng, Winston Peng
        </div>
    </footer>
    {% endblock %}
  </footer>

</html>
