{% extends "base.html" %}

{% block navbar_logged_in %} {% endblock %}

{% block body %}
  <br>
	<h2>Login</h2>
	{% for message in get_flashed_messages() %}
	<i>{{ message }}</i>
	<br>
	{% endfor %}
  <br><br>
  <center>
	  <form action="/loginauth" method="POST" style="width:50%;">
      <div class="form-group">
		    <label for="username">Username</label>
		    <input type="text" class="form-control" name="username" required>
      </div>
      <div class="form-group">
		    <label for="password">Password</label>
		    <input type="password" class="form-control" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary" value="Log In"> Login </button>
	  </form>
    <br>
	  <form action="/oof" method="POST">
      <button type="submit" class="btn btn-secondary" value="Forgot Password">
        Forgot Password
      </button>
	  </form>
    <img style = "border-radius: 50%; max-width: 100%; height:auto;" src={{url_for('static', filename = 'home_Image.jpg')}}>
  </center>
  <br>
{% endblock %}
