{% extends "loggedin_base.html" %}

{% block header %}
  {% for message in get_flashed_messages() %}
    {{message}}
  {% endfor %}
{% endblock %}


{% block body %}
  <form action = "/myOps">
    <input type = "submit" value = "View My Opportunities">
  </form>

  <form action = "/allOps">
  <input type = "submit" value = "View All Opportunities">
  </form>
   <br>
  <form action = "/stuAcc">
  <input type = "submit" value = "Account info">
  </form>

  <form action = "/adminCalendar">
	<input type = "submit" value = "Admin Calendar">
  </form>

  <form action = "/addEvent">
	<input type = "submit" value = "Add Event">
  </form>
{% endblock %}
